@charset "UTF-8";

body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
	width: 100%;
	position: relative;
	top:200px;
}

#header {
	width: 100%;
	height: 100px;
	background: linear-gradient(to right, yellow, red, purple, blue);
	position: fixed;
	line-height: 100px;
	font-weight: bold;
	overflow: auto;
	z-index: 1;
}

#header img {
	vertical-align: middle;
	margin-left: 20px;
}

#header a {
	text-decoration: none;
	transition: .3s ease-out;
	color: #000;
}

#header a:hover {
	color: #41B6E6;
}

#header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#header li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0;
	float: left;
	display: inline-block;
	margin-right: 70px;
}

#footer {
	width: 100%;
	height: 100px;
	clear: both;
	line-height: 100px;
	font-size: 12px;
	background-color: aquamarine;
	text-align: center;
}
.search {
	text-align: center;
}

#user {
	float: right;
	margin-right: 60px;
}

#user img {
	border-radius: 100px;
}

.report_reason{
		position: absolute;
		z-index: 33;
		left: 50%;
		top:50%;
		margin:-50px 0 0 -500px;
		display: none;
	}
