<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.IBestBookDao">
  	<select id="selectAllBestBook" resultType="java.util.HashMap">
  		SELECT *
  		FROM best_book
  	</select>
  	<select id="selectBestBook" parameterType="int" resultType="java.util.HashMap">
  		SELECT *
  		FROM best_book
  		WHERE num=#{num}
  	</select>
  	<select id="selectRankingBestBook" resultType="java.util.HashMap">
  		SELECT num,title
		FROM best_book
		ORDER BY num ASC
		limit 0,10;
  	</select>
  	<insert id="insertBestBook" parameterType="java.util.HashMap">
  		INSERT INTO best_book
  		VALUES 0,#{title},#{introduce},#{book_writer},#{category_num},
  		#{image},#{public_date},#{publisher},0,now()
  	</insert>
  	<update id="updateBestBook" parameterType="java.util.HashMap" >
  		UPDATE best_book
  		SET title=#{title},introduce=#{introduce},book_writer=#{book_writer},category_num=#{category_num},
  		image=#{image},public_date=#{public_date},publisher=#{publisher},star_point_avg=#{star_point_avg},regdate=#{regdate}
  		WHERE num=#{num}
  	</update>
  	<delete id="deleteBestBook" parameterType="int">
  		DELETE FROM best_book
  		WHERE num=#{num}
  	</delete>
  		<select id="selectBookMain" resultType="java.util.HashMap">
		SELECT * FROM best_book
		order by rand() limit 6
	</select>
  	
  		
  </mapper>