<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.INewBookDao">
	<select id="selectAllNewBook" resultType="java.util.HashMap">
		SELECT *
		FROM new_book limit 0,5
	</select>
	<select id="selectNewBook" parameterType="int" resultType="java.util.HashMap">
		SELECT *
		FROM new_book
		WHERE num=#{num}
	</select>
	<insert id="insertNewBook" parameterType="java.util.HashMap">
		INSERT INTO new_book
		VALUES 0,#{title},#{introduce},#{book_writer},#{category_num},
		#{image},#{public_date},#{publisher},0,now()
	</insert>
	<update id="updateNewBook" parameterType="java.util.HashMap">
		UPDATE new_book
		SET
		title=#{title},introduce=#{introduce},book_writer=#{book_writer},category_num=#{category_num},
		image=#{image},public_date=#{public_date},publisher=#{publisher},star_point_avg=#{star_point_avg},regdate=#{regdate}
		WHERE num=#{num}
	</update>
	<delete id="deleteNewBook" parameterType="int">
		DELETE FROM new_book
		WHERE num=#{num}
	</delete>
		<select id="selectBookMain" resultType="java.util.HashMap">
		SELECT * FROM book
		order by rand() limit 6
	</select>




</mapper>