<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.IReviewListDao">
  	<select id="selectAllReviewList" resultType="java.util.HashMap">
  		SELECT *
  		FROM review_list
  	</select>
  	<select id="selectReviewList" parameterType="int" resultType="java.util.HashMap">
  		SELECT *
  		FROM review_list
  		WHERE num=#{num}
  	</select>
  	<insert id="insertReviewList" parameterType="java.util.HashMap">
  		INSERT INTO review_list
  		VALUES 0,#{review_writer},#{content},#{book_num},#{regdate}
  	</insert>
  	<update id="updateReviewList" parameterType="java.util.HashMap" >
  		UPDATE review_list
  		SET review_writer=#{review_writer},content=#{content},book_num=#{book_num},regdate=#{regdate}
  		WHERE num=#{num} 
  	</update>
  	<delete id="deleteReviewList" parameterType="int">
  		DELETE FROM review_list
  		WHERE num=#{num}
  	</delete>
  
  </mapper>