<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.IStarPointListDao">
  	<select id="selectAllStarPointList" resultType="java.util.HashMap">
  		SELECT *
  		FROM star_point_list
  	</select>
  	<select id="selectStarPointList" parameterType="int" resultType="java.util.HashMap">
  		SELECT *
  		FROM star_point_list
  		WHERE num=#{num}
  	</select>
  	<insert id="insertStarPointList" parameterType="java.util.HashMap">
  		INSERT INTO star_point_list
  		VALUES 0,#{star_point_writer},#{book_num},#{review_num},#{star_point},#{regdate}
  	</insert>
  	<update id="updateStarPointList" parameterType="java.util.HashMap" >
  		UPDATE star_point_list
  		SET star_point_writer=#{star_point_writer},book_num=#{book_num},review_num=#{review_num},star_point=#{star_point},regdate=#{regdate}
  		WHERE num=#{num} 
  	</update>
  	<delete id="deleteStarPointList" parameterType="int">
  		DELETE FROM star_point_list
  		WHERE num=#{num}
  	</delete>
  	<sql id="selectUserStar">
		<choose>
			<when test="myPage=1">
				favorites on book.num = favorites.book_num where
				favorites.user_name = #{user_name}
			</when>
			<when test="myPage=2">
				not_interested on book.num = not_interested.book_num
				where
				not_interested.user_name = #{user_name}
			</when>
			<when test="myPage=3">
				star_point_list on book.num =
				star_point_list.book_num where
				star_point_list.star_point_writer =
				#{user_name}
			</when>
			<when test="myPage=4">
				review_list on book.num = review_list.book_num where
				review_list.review_writer = #{user_name}
			</when>
		</choose>
	</sql>

	<select id="selectUserStar" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		SELECT *
		FROM book
		join
		<include refid="selectUserStar"></include>
	</select>
  	
  </mapper>